body{
	color: #222;
	font-size: 14px;
	background-color: #EEE;
	font-family: "Open Sans", sans-serif;
}

main{
    width: 90%;
    margin: 0 auto;
}

section{
	margin: 20px;
}

label{
    font-size: 1.2em;
}
