input{ background-color: transparent; }

input:focus{ outline: none; }

input[type=time]{
  width: 6em;
  border: none;
  font-size: 1.6em;
  border-bottom: 1px dashed black;
}

input[type=range]{
  -webkit-appearance: none;
  margin: 16px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #696;
  border-radius: 1em;
  border: 1px solid #575;
}

input[type=range]::-moz-range-track{
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #696;
  border-radius: 1em;
  border: 1px solid #575;
}

input[type=range]::-webkit-slider-thumb{
  box-shadow: 0 0 1px #000;
  height: 2em;
  width: 2.6em;
  border-radius: 0.7em;
  background: #EFE;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.8em;
}

input[type=range]::-moz-range-thumb{
  border: 1px solid #666;
  height: 2em;
  width: 2.6em;
  border-radius: 0.7em;
  background: #EFE;
  cursor: pointer;
}
