body{
	color: #222;
	font-size: 14px;
	background: url(trail.jpg);
	font-family: "Open Sans", sans-serif;
}

main{
	width: 90%;
	margin: 2em auto 0;
	border-radius: 4px;
	background: #EFE;
	padding: 0 20px;
}

section{
	padding: 10px;
}

label{
	font-size: 1.2em;
	-webkit-user-select: none;
	-moz-user-select: none;
}

h2{
	margin-bottom: 0;
}

button{
	cursor: pointer;
}
